 <div class="container"><hr></div>
<footer class="footer-gov pt-2 pb-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <img
          src="{{ base_path ~ directory }}/assets/dist/files/colombia-co.svg"
          alt="Logo colombia"
          width="50"
          height="50"
        >
        |
        <img
          src="{{ base_path ~ directory }}/assets/dist/files/gov.svg"
          alt="GOV.CO"
          width="136"
          height="50"
        >
      </div>
      <div class="col-lg-4">
        <h3 class="title-footer-gov">
          Alcaldía Municipal de Bello
        </h3>
        <p class="data-portal-footer-gov">
          <strong>Dirección:</strong> Sede Oficial - Edificio Gaspar de Rodas - Cra 50 No. 51 00 Bello - Antioquia - Código Postal - 051053
        </p>
        <p class="data-portal-footer-gov">
          <strong>Horario de atención:</strong> Lunes a jueves de 7:00 a.m. a 12:00m y de 1:00 p.m. a 5:00 p.m. - Viernes de 7:00 a.m. a 12:00m y de 1:00 p.m. a 4:00 p.m.
        </p>
      </div>
      <div class="col-lg-4">
        <h3 class="title-footer-gov">
          Contacto
        </h3>
        <p class="data-portal-footer-gov">
          <strong>Teléfono Conmutador:</strong> Conmutador - (604 )6047944
        </p>
        <p class="data-portal-footer-gov">
          <strong>Correo institucional:</strong> contactenos@bello.gov.co
        </p>
        <p class="data-portal-footer-gov">
          <strong>Correo de notificaciones judiciales:</strong> notificacionesjudici@bello.gov.co
        </p>
      </div>
    </div>
  </div>
</footer>
