<header>
  <div class="header-gov">
    <div class="container h-100" style="100%">
      <div class="d-flex align-items-center">
        <a href="https://www.gov.co" target="_blank">
        <img
          src="{{ base_path ~ directory }}/assets/dist/files/gov.svg"
          alt="GOV.CO"
          width="136"
          height="24"
        >
      </a>
    </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        {{ page.header }}
      </div>
      <div class="col-lg-8">
      </div>
    </div>
  </div>
</header>
