.task-gov {
  font-size: 15px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  a {
    min-width: 216px;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E8EFFC;
    color: #000000;
    font-family: 'montserratmedium', sans-serif;
    text-decoration: none;
    &:hover {
      background-color: #004884;
      border: 2px solid #F6F8F9;
      color: #FFFFFF;
    }
  }

  .is-active {
    background-color: #FFFFFF;
    border: 1px solid #E8EFFC;
    font-family: 'montserratsemibold', sans-serif;
    color: #000000;
    border-bottom: 3px solid #3366cc;
  }
}

